
.recommendations-block .recommendation-catalog-inner .slick-dots {
    display: block;
    max-width: 173px;
    margin: 0 auto;    
    overflow: hidden;    
    padding-bottom: 7px;
    height: 25px;
}

.new-products-slider .slick-prev, .new-products-slider .slick-next,
.new-jewelry-slider .slick-prev, .new-jewelry-slider .slick-next,
.recommendation-catalog-inner .slick-prev, .recommendation-catalog-inner .slick-next {    
    top: 94%;
    margin: 0 auto;
    z-index: 500;
    overflow: hidden;
    border: 10px solid transparent;
    border-top-color: #a39178;
    -webkit-transition: 0.275s linear;
    -o-transition: 0.275s linear;
    transition: 0.275s linear;
}
.new-products-slider .slick-next, .new-jewelry-slider .slick-next, .recommendation-catalog-inner .slick-next {
    left: 10%;
    transform: rotate(270deg) translate(0px, 25px);
}

.new-products-slider .slick-prev, .new-jewelry-slider .slick-prev, .recommendation-catalog-inner .slick-prev {
    right: 10%;
    transform: rotate(90deg) translate(0px, 25px);
}

.new-products-slider .slick-prev:hover, .new-products-slider .slick-next:hover,
.new-jewelry-slider .slick-prev:hover, .new-jewelry-slider .slick-next:hover,
.recommendation-catalog-inner .slick-prev:hover, .recommendation-catalog-inner .slick-next:hover {
    border-top-color: black;
    opacity: .75;
}

.new-jewelry-slider .slick-dots {    
    padding-top: 9px;
}

.new-jewelry-slider:before, .new-jewelry-slider:after {
    bottom: 12px;
}

.new-products-slider .slick-dots, .new-jewelry-slider .slick-dots {
    max-width: 173px;
}

.card--price-bot-head span {
    font-size: 22px;
}

.card--price-mid__item {
    flex-grow: 1;
    margin-right: 5px;
    &:last-child {
        margin-right: 0px;
    }
}

// Карточка товара https://spbluxwatches.ru/catalog/watches/patek-philippe-watches/patek-philippe-aquanaut-01/

.card-info-main-right-inner-text  {
    transition: 300ms cubic-bezier(.3,.62,.33,.63)  all;    
    height: 266px;
    // max-height: 266px;
    p {
        line-height: 2.1em;
        font-size: 14px;
        margin-top: 0;
    }

    &.short {
        &::after {
            display: none;
        }
    }
}
.card-info-main-right-inner-text.showContent {    
    height: auto;   
}
.card-info-main {
    padding-bottom: 45px;
}

.media-vid {
    position: relative;
    &:after {
        content: "";
        position: absolute;
        height: 100%;
        left: 0;
        right: 0;
        background: url("../images/utube-2.png") no-repeat;
        background-size: 40%;
        background-position: 50%;
    }
}

.card-slick-item img {
    width: 100%;
    object-fit: scale-down;
}

.main-slider .slick-dots { 
    margin: 0 auto;
    left: 0;
    right: 0;    
    max-width: 137px;
    height: 24px;
    overflow: hidden;
}

@media screen and (max-width: 1919px) {
    .card--price-mid__item {
        margin-right: 0;
    }
}


@media screen and (max-width: 1359px) {    

    .main-slider .slick-dots { 
        max-width: 180px;
    }
}

@media screen and (max-width: 1279px) {
    .card--price-bot-head span {
        font-size: 14px;
    }
}

@media screen and (max-width: 1028px) {
    .new-products-slider .slick-next, .new-jewelry-slider .slick-next, .recommendation-catalog-inner .slick-next  {
        left: 12%;
    }
    
    .new-products-slider .slick-prev, .new-jewelry-slider .slick-prev, .recommendation-catalog-inner .slick-prev {
        right: 12%;
    }
    .new-products-slider:before, .new-products-slider:after, .new-jewelry-slider:before, .new-jewelry-slider:after {
        width: 37%;
    }
}

@media screen and (max-width: 768px) {
    .new-products-slider .slick-prev, .new-products-slider .slick-next {    
        top: 95%;
    }
    .new-products-slider:before, .new-products-slider:after, .new-jewelry-slider:before, .new-jewelry-slider:after {
        width: 32%;
    }

    .new-jewelry-slider .slick-dots {
        padding-top: 3px;
    }
    .new-jewelry-slider:before, .new-jewelry-slider:after {
        bottom: 13px;
    }

    .recommendations-block .recommendation-catalog-inner .slick-dots {
        max-width: 118px;
        padding-bottom: 13px;
    }
    .new-products-slider .slick-dots, .new-jewelry-slider .slick-dots {
        max-width: 117px;
    }
    .card-info-main {
        padding-bottom: 25px;
    }

    .main-slider .slick-dots {         
        height: 31px;
        max-width: 113px;
    }    

}

@media screen and (max-width: 766px) {
    .card .card--price .card--price-bot-head {
        height: 53px;
    }
    .card--price-bot-footer__eu {
        font-size: 10px;
    }
    .card .card--price .rrk-mobile {
        font-size: 8px;
    }
}

@media screen and (max-width: 529px) {
    .recommendations-block .slick-prev, .recommendations-block .slick-next {    
        top: 91%;
    }
}

@media screen and (max-width: 425px) {
    .new-products-slider:before, .new-products-slider:after, .new-jewelry-slider:before, .new-jewelry-slider:after {
        width: 26%;
    }
    .new-products-slider .slick-next, .new-jewelry-slider .slick-next, .recommendation-catalog-inner .slick-next {
        left: 20%;
    }
    .new-products-slider .slick-prev, .new-jewelry-slider .slick-prev, .recommendation-catalog-inner .slick-prev  {
        right: 20%;
    }

   //https://spbluxwatches.ru/about/ выравнивание текста
    .about-page_about-clock .about-page_about-clock__text .about-page_about-clock__text-item1,.about-page_about-clock .about-page_about-clock__text .about-page_about-clock__text-item2 {
        width: auto;        
        text-align: center;
    }
}