/* ==========================================================================
   FONTS
   ===========================================================================*/

/* FONTS */
@font-face {
  font-family: 'Roboto Condensed';
  src: url(../fonts/RobotoCondensed-Regular.eot);
  src: url(../fonts/RobotoCondensed-Regular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/RobotoCondensed-Regular.woff) format('woff'),
  url(../fonts/RobotoCondensed-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoRegular.eot);
  src: url(../fonts/RobotoRegular.eot?#iefix) format('embedded-opentype'),
  url(../fonts/RobotoRegular.woff) format('woff'),
  url(../fonts/RobotoRegular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url(../fonts/RobotoThin.eot);
  src: url(../fonts/RobotoThin.eot?#iefix) format('embedded-opentype'),
  url(../fonts/RobotoThin.woff) format('woff'),
  url(../fonts/RobotoThin.ttf) format('truetype');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: "Museo Cyrl"; 
  src: url(../fonts/MuseoCyrl-900.woff) format("woff"),
       url(../fonts/MuseoCyrl-900.ttf) format("truetype"); 
  font-weight: 900;
}

@font-face {
  font-family: "Museo Cyrl"; 
  src: url(../fonts/MuseoCyrl-700.woff) format("woff"),
       url(../fonts/MuseoCyrl-700.ttf) format("truetype"); 
  font-weight: 700;
}

@font-face {
  font-family: "Museo Cyrl"; 
  src: url(../fonts/MuseoCyrl-500.woff) format("woff"), 
       url(../fonts/MuseoCyrl-500.ttf) format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Museo Cyrl"; 
  src: url(../fonts/MuseoCyrl-500.ttf) format("truetype"); 
  src: url(../fonts/MuseoCyrl-500.woff) format("woff"); 
  font-weight: 400;
}

@font-face {
  font-family: "Museo Cyrl"; 
  src: url(../fonts/MuseoCyrl-300.woff) format("woff"), 
       url(../fonts/MuseoCyrl-300.ttf) format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Georgia Italic"; 
  src: url(../fonts/georgiai.eot?) format("eot"), 
       url(../fonts/georgiai.woff) format("woff"), 
       url(../fonts/georgiai.ttf) format("truetype");
  font-weight: 400;
}


@font-face {
  font-family: "tahoma"; 
  src: url(../fonts/tahoma.woff) format("woff"), 
       url(../fonts/tahoma.otf) format("otf")
       url(../fonts/tahoma.ttf) format("truetype");
  font-weight: 400;
} 

/* end fonts*/