.icon {
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-agreement {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-arrow-bottom {
	font-size:(14/10)*1rem;
	width:(30/14)*1em;
}
.icon-close {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-courthouse {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-eye {
	font-size:(32/10)*1rem;
	width:(32/32)*1em;
}
.icon-facebook {
	font-size:(17/10)*1rem;
	width:(8/17)*1em;
}
.icon-gavel {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-google {
	font-size:(15/10)*1rem;
	width:(20/15)*1em;
}
.icon-hourglass {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-instagram {
	font-size:(18/10)*1rem;
	width:(18/18)*1em;
}
.icon-jury {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-libra {
	font-size:(512/10)*1rem;
	width:(512/512)*1em;
}
.icon-phone {
	font-size:(44/10)*1rem;
	width:(44/44)*1em;
}
.icon-twitter {
	font-size:(24/10)*1rem;
	width:(29/24)*1em;
}
.icon-vk {
	font-size:(18/10)*1rem;
	width:(32/18)*1em;
}
